.not-found-content {
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    button {
        display: inline;
    }

    // .btn {
    //     background-color: var(--primary-color);
    //     padding: 10px 15px;
    //     color: var(--white-color);
    //     font-weight: 650;
    //     text-decoration: none;
    //     border-radius: 10px;
    //     display: inline;
    // }
    // .btn:hover {
    //     filter: brightness(120%);
    // }
    // .btn:active {
    //     filter: brightness(70%);
    // }
}
