.overviewcard {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
  @media screen and (min-width: 376px) {
    width: 95vw;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .ant-card {
    width: 23%;
    margin: 10px 0;
    height: 9rem;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    @media screen and (min-width: 376px) {
      height: 13.3rem;
      font-size: 1.5rem;
      width: 20%;
    }
    @media screen and (min-width: 769px) {
      height: 14rem;
      font-size: 1.3rem;
      width: 20%;
    }

    .ant-card-head {
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      padding: 0;
      > .ant-card-head-wrapper {
        > .ant-card-head-title {
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          border-radius: 10px 10px 0 0;
          font-size: 0.8rem;
          position: relative;
          @media screen and (min-width: 376px) {
            font-size: 1.2rem;
          }
        }
        > .ant-card-head-title:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-radius: inherit;
          background-color: currentColor;
          opacity: 0.2;
        }
      }
    }

    .ant-card-body {
      padding: 5px 10px;
      p {
        font-weight: bold;
        margin-bottom: 5px;
      }
      > p:nth-child(1) {
        font-size: 1rem;

        @media screen and (min-width: 376px) {
          margin-top: 1rem;
          font-size: 1.45rem;
        }
        @media screen and (min-width: 1023px) {
          font-size: 1.8rem;
        }
      }
      > p:nth-child(2) {
        font-size: 0.8rem;
        line-height: 0.7rem;
        @media screen and (min-width: 376px) {
          font-size: 1rem;
        }
      }
      > p:nth-child(3) {
        font-size: 0.5rem;
        @media screen and (min-width: 376px) {
          font-size: 1.2rem;
        }
      }
      p {
        span {
          font-size: 0.6rem;
          font-weight: normal;
        }
      }
    }
    .ant-card-body:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: inherit;
      background-color: currentColor;
      opacity: 0.2;
    }
  }
}

@mixin color($i) {
  @if ($i == 1) {
    color: rgb(236, 33, 33);
  } @else if ($i == 2) {
    color: rgb(37, 37, 34);
  } @else if ($i == 3) {
    color: rgb(81, 81, 241);
  } @else {
    color: rgb(16, 163, 16);
  }
}

@for $i from 1 through 4 {
  .ant-card:nth-child(#{$i}) .ant-card-head > .ant-card-head-wrapper {
    @include color($i);
  }
  .ant-card:nth-child(#{$i}) > .ant-card-body > p {
    @include color($i);
  }
}

.cardskeleton {
  padding: 0px 30px;
  @media screen and (min-width: 376px) {
    padding: 0 10px;
  }
}

.ant-card {
  p {
    animation: appear1;
    animation-duration: 4s;
  }

  @keyframes appear1 {
    from {
      opacity: 0.1;
    }
    to {
      opacity: 1;
    }
  }
}
